<div class="comment" >
  <div class="comment-heading">
    Added by <strong><%= link_to comment.user, user_path(comment.user) %></strong> on
    <%= l(comment.created_at, format: '%d %B %Y %H:%M:%S') %>
  </div>

  <div class="comment-body">
    <%= comment.body %>
    <% from_reply_form ||= nil %>
    <% unless from_reply_form %>
        <div><%= link_to 'reply', new_comment_path(comment.id) %></div>
    <% end %>
  </div>

</div>