<div id="card-users">
  <% if card.user_can_manage @current_user %>
    <%= render 'card_user/form' %>
  <% end %>

  <div>
    <ul id="card-users-group" class="list-group">
      <%= render partial: 'card_user/user', collection: card.users %>
    </ul>
  </div>
</div>