<li id="board-user-<%= permission.user.id %>" class="user list-group-item">
  <%= link_to remove_board_user_path(board, user_id:permission.user), method: :delete, data: {confirm: 'Are you sure?' }, class:'remove-user', remote:true do %>
      <span class="glyphicon glyphicon-remove-sign"></span>
  <% end %>

  <%= permission.user %>
  <span class="label label-info"><%= permission_to_s permission.permission %></span>
</li>
