<p id="notice"><%= notice %></p>

<h1>Boards</h1>

<%= link_to new_board_path do  %>
  <span class="glyphicon glyphicon-plus"></span> New Board
<% end %>

<ul id="boards-list" class="list-unstyled">
  <%= render partial: 'board', collection: @boards, locals: {is_mine: true} %>
  <%= render partial: 'board', collection: @current_user.available_boards, locals: {is_mine: false} %>
</ul>
