<%= link_to edit_card_path(card), class: 'link-help-container' do %>
    <h1><%= card.title %></h1>
    <span class="link-help">
      <span class="glyphicon glyphicon-edit"></span>
    </span>
<% end %>