/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/themes/smoothness/jquery-ui.css
 *= require bootstrap/dist/css/bootstrap.css
 *= require eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min
 */
.bar-container {
    background: #fcfeff none repeat scroll 0 0;
    transition-duration: 0.218s;
    transition-property: background-color, box-shadow;
    transition-timing-function: ease-in-out;
}
.edit-bar {
    box-sizing: border-box;
    opacity: 0.3;
    padding: 4px 0;
    transition-duration: 0.218s;
    transition-property: opacity;
    transition-timing-function: ease-in;
}
.edit-bar-container:hover .edit-bar {
    opacity: 1;
}

.link-help {
    opacity: 0;
    display: none;
}

.link-help-container:hover .link-help {
    opacity: 1;
    display: inline-block;
    text-decoration: underline;
}
