// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: #ddd;

#boards {
  margin-top: 2em;

  li {
    border-bottom: 1px solid #aaa;
    position: relative;
    margin-top: 2em;
  }

  .board-action-panel {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -15px;
  }

}

#board {
  .group {
    position: relative;
    width: 300px;
    float: left;
    margin-left: 25px;
    border: 1px solid $border-color;
    border-radius: 4px;

    .group-menu {
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .group-body{
      padding: 5px;
    }
  }

  .group-heading {
    border: 1px solid $border-color;
    background: $border-color;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 120%;
    padding: 5px;
  }

  .cards {
    min-height: 3em;
    margin-bottom: 0;
  }

  .ui-state-highlight {
    height: 3.5em;
    line-height: 2em;
  }
}

