// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-color: #ddd;

#boards {
  margin-top: 2em;

  li {
    border-bottom: 1px solid #aaa;
    position: relative;
    margin-top: 2em;
  }

  .board-action-panel {
    display: inline-block;
    position: absolute;
    right: 0;
    top: -15px;
  }

}

#board {
  .group {
    width: 300px;
    float: left;
    margin-left: 25px;
    border: 1px solid $border-color;
    border-radius: 4px;

  }
}
