// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-show {
  .card-title h1 {
    display: inline-block;
  }
  .bar-container {
    display: inline-block;
  }

  .comments {
    margin-top: 2em;

    .add-new-comment {
      margin-bottom: 2em;
    }
  }
}
