.comment {
  margin-bottom: 1em;
  .comment-heading {
    color: #555;
    font-size: 120%;
    padding: 0 5px;
  }

  .comment-body {
    padding: 0 5px;
  }

}
.replies {margin-left: 50px;}
.replies .replies .replies .replies .replies {margin-left: 0;}
